@import "../../../../assets/style/Colors.scss";

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin: 160px 400px;
  width: -webkit-fill-available;
  height: 100%;

  &__line {
    width: 160px;
    height: 2px;
    background-color: $purple-color;
    margin: 0 auto;
    animation: fadeInLine 1.5s ease-in-out forwards;
  }
}
