@import "../../../../assets/style/Colors.scss";

.gradient-body {
  background: linear-gradient(135deg, #0e1116, #2c1d47, #1a1d33);
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 144px;
  top: 0;
  left: 0;
  margin: 200px 240px;
  color: white;

  &__first-section,
  &__second-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;

    &__photo-container {
      position: relative;
      &__photo {
        width: 375px;
        height: 475px;
      }

      &__square {
        position: absolute;
        width: 80px;
        height: 80px;
        border-left: 2px solid $light-purple-color;
        border-bottom: 2px solid $light-purple-color;
        padding: 10px;
        left: -30px;
      }
    }

    &__text {
      &__title {
        font-family: "Bebas Neue", sans-serif;
        margin-bottom: 32px;

        span {
          font-family: "Bebas Neue", sans-serif;
          color: $green-color;
        }
      }
    }
  }

  &__first-section {
    &__photo-container {
      &__square {
        top: 424px;
      }
    }
  }

  &__second-section {
    &__photo-container {
      &__square {
        top: 424px;
      }
    }
  }
}
