@import "../style/Fonts.scss";
@import "../style/Colors.scss";

* {
  font-family: "Poppins";
}

body {
  background-color: $black-color;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 32px;
}
