@import "../../../../assets/style/Colors.scss";

.logo {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: $light-purple-color;
  text-decoration: none;
  background: inherit;
}
